<div class="">
  <div class="w-full lg:w-3/4 md:w-3/4 flex justify-between items-center gap-2 flex-wrap pb-4">
    <div class="text-xl">Restaurants list</div>
    @if (isHandset$ | async) {

     <div class="w-34">
        <button routerLink="/restaurants/add" class="max-h-10 shadow-none" mat-fab extended color="secondary">
            <mat-icon>add</mat-icon>Restaurant
        </button>
     </div>
    }
    @else {
      <div class="w-34">
        <button routerLink="/restaurants/add"  class="max-h-10" mat-fab extended color="secondary">
            <mat-icon>add</mat-icon>New Restaurant
        </button>
     </div>
    }
  </div>
  <div>
    <app-restaurants-table></app-restaurants-table>
  </div>
</div>
