<div >
    <div class="text-lg">
        Analytics
    </div>
    <mat-card style="font-family: monospace;" appearance="outlined" 
    class="p-2 mt-4 w-full lg:w-3/4 ">
        
        <div class="flex  flex-col gap-2 ">

            <div class="flex justify-between gap-3">
               <div>UI Functionality: </div>
               <div class="text-nowrap">4 hrs</div>
            </div>

            <div class="flex justify-between gap-3">
                <div>UI Styling and responsiveness: </div>
                <div class="text-nowrap">3 hrs</div>
             </div>

            <div class="flex justify-between gap-3">
                <div>Firebase setup and integration: </div>
                <div class="text-nowrap">3 hrs</div>
             </div>

             <div class="flex justify-between gap-3">
                <div>Validations and error handling/ snack bars:</div>
                <div class="text-nowrap">2 hrs</div>
             </div>

             <div class="flex justify-between gap-3">
                <div>Code coverage:</div>
                <div class="text-nowrap">1 hrs</div>
             </div>
            
             <div class="flex justify-between gap-3 font-bold">
                <div>Total time:</div>
                <div>{{4+3+3+2+1}} hrs</div>
             </div>

        </div>
        
    </mat-card>
</div>